body {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  background: #fafafa;
  color: #837d87;
  font-size: 16px; }

h1 {
  font-family: "DM Serif Display", serif; }

.navbar {
  padding: 17px 0px; }
  .navbar .nav-button {
    color: #2b272f !important;
    border: 2px solid #2b272f; }
  .navbar .nav-link {
    padding: 5px 20px !important; }

header {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #2d2640; }

.top-banner {
  background-color: #2d2640;
  color: #fafafa;
  padding: 5rem 0;
  max-width: 1110px;
  margin: 0 auto;
  height: 580px; }
  .top-banner-col {
    padding: 0 !important;
    margin: 0;
    margin-bottom: 2rem; }
  .top-banner-title {
    font-weight: 700;
    width: 85%;
    padding-top: 42px; }
    .top-banner-title h1 {
      font-size: 68px;
      line-height: 3.5rem; }
  .top-banner-p {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 85%; }
  .top-banner #top-banner-border-line {
    border-top: 1px solid #fafafa;
    position: absolute;
    width: 25%;
    top: 0px; }
  .top-banner-button {
    border: 2px solid #fafafa;
    padding: 5px 20px !important;
    color: #fafafa; }
  .top-banner-button:hover {
    text-decoration: none;
    color: #2d2640;
    background-color: #fafafa; }

.middle-heading #middle-border-line {
  border-top: 1px solid #2d2640;
  bottom: 0%;
  width: 8.5%;
  position: absolute; }

.middle-heading h1 {
  margin-top: 20rem;
  font-size: 68px;
  color: #2b272f; }

.middle-col-img {
  margin-top: 5rem; }

.middle-col-title {
  font-family: "DM Serif Display", serif;
  color: #2b272f;
  margin-top: 3rem;
  margin-bottom: 1rem; }

.overlay-pattern-1 {
  position: absolute;
  top: -4%;
  right: 12.2%; }

.overlay-pattern-2 {
  position: absolute;
  top: 87.5%;
  left: 11.5%; }

.bottom-banner {
  background-color: #2d2640;
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding: 2.8rem 0 2.8rem 0; }
  .bottom-banner-image {
    position: absolute;
    right: 3.5%; }
  .bottom-banner-title {
    font-size: 64px;
    color: #fafafa;
    margin-left: 60px; }
  .bottom-banner-col-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 65px; }
  .bottom-banner-button {
    border: 2px solid #fafafa;
    padding: 5px 20px !important;
    color: #fafafa;
    background-color: #2d2640; }
  .bottom-banner-button:hover {
    text-decoration: none;
    color: #2d2640;
    background-color: #fafafa; }

.footer-body {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: rgba(242, 242, 242, 0.938); }
  .footer-body-pattern {
    position: absolute; }
  .footer-body-row-1 {
    padding: 3rem 0 3rem 0;
    border-bottom: 1px solid #837d87;
    max-width: 1110px;
    margin: auto; }
    .footer-body-row-1 .footer-body-heading {
      padding: 0; }
    .footer-body-row-1 .footer-body-socials {
      display: flex;
      justify-content: right;
      padding: 0; }
      .footer-body-row-1 .footer-body-socials img:not(:last-child) {
        padding-right: 15px; }
  .footer-body-row-2 {
    max-width: 1110px;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 3rem; }
    .footer-body-row-2 .footer-details {
      padding: 0; }
    .footer-body-row-2 .footer-details-heading,
    .footer-body-row-2 .footer-details-links {
      font-size: 16px;
      letter-spacing: 0.75px;
      font-weight: 700; }
    .footer-body-row-2 .footer-details-links {
      list-style-type: none;
      padding: 20px 0px 20px 0; }
      .footer-body-row-2 .footer-details-links li {
        padding-top: 10px; }
      .footer-body-row-2 .footer-details-links a {
        color: #2d2640; }
